@model IEnumerable<BOL.Indicador>

@{
    ViewBag.Title = "Indicador";
}
<br/>
<h2 class="text-center">Indicadores de logros</h2>
<hr/>
<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conocimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condiciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Planificacion.Descripcion)
        </th>
        <th>
            @Html.ActionLink("Agregar", "Agregar", "Indicador",new{@class ="btn btn-primary"})
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Accion, "Detalles", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conocimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condiciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planificacion.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new{@class="btn btn-info"}) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id }, new{@class= "btn btn-danger",onclick="return confirmarI();"})
            </td>
        </tr>
    }

</table>


<script>
    function confirmarI() {
        return confirm('¿Seguro/a que quiere eliminar esta planificación?');
    }
</script>
