@model IEnumerable<BOL.Asignatura>

@{
    ViewBag.Title = "Index";
}
<br />
<h2 class="text-center">Asignaturas</h2>
<hr />

<p>
    @Html.ActionLink("Imprimir listado", "ImprimirListado", "Asignatura", new { @class = "btn btn-primary" })
</p>

<br/>

<table class="table table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.ActionLink("Agregar", "Agregar", "Asignatura", new { @class = "btn btn-primary col-md-10" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Descripcion, "Detalles", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-info col-md-5" }) | 
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger col-md-5", onclick = "return confirmarI();" })
            </td>
        </tr>
    }

</table>
