@model IEnumerable<BOL.Planificacion>

@{
    ViewBag.Title = "Index";
}

<br />
<h2 class="text-center">Planificaciones</h2>
<hr />

@if (TempData["Msg"] != null)
{
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        @TempData["Msg"].ToString()
    </div>
}

<p>
    @Html.ActionLink("Imprimir listado", "ImprimirListado", "Planificacion", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-responsive table-condensed table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioEscolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetenciasFundamentales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetenciasEspecificas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Escenario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayName("Método")
        </th>
        <th>
            @Html.DisplayName("Sistematización")
        </th>
        <th>
            @Html.DisplayName("Evaluación")
        </th>
        <th>
            @Html.ActionLink("Agregar", "Agregar", "Planificacion", new { @class = "btn btn-primary col-md-11" })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Descripcion, "Detalles", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioEscolar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenciasFundamentales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenciasEspecificas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escenario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sistematizacion.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trabajo1.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirmar();" })
            </td>
        </tr>
    }

</table>



<script>
    function confirmar() {
        return confirm('¿Seguro/a que quiere eliminar esta planificación?');
    }
</script>