@model IEnumerable<BOL.Planificacion>

@{
    ViewBag.Title = "Index";
}
<br/>
<h3 class="text-center">Planificaciones</h3>
<hr/>

<table class="table table-bordered table-responsive table-condensed table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asignatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioEscolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayName("Objetivo")
        </th>
        <th>
            @Html.DisplayName("Objetivos específicos")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Escenario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayName("Método")
        </th>
        <th>
            @Html.DisplayName("Sistematización")
        </th>
        <th>
            @Html.DisplayName("Evaluación")
        </th>
        <th>
            @Html.ActionLink("Agregar", "Agregar", new{@class= "btn btn-primary"})
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioEscolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetenciasFundamentales)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetenciasEspecificas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Escenario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metodo.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sistematizacion.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new{@class="btn btn-primary"}) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }, new{@class="btn btn-info"}) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id }, new{@class= "btn btn-danger"})
        </td>
    </tr>
}

</table>
